<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_modified.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap">
    <title>Big10 Volleyball - Time Series</title>
</head>
<body>
  <h1 style="font-family: 'Bungee', sans-serif;">Time Series (2016-2022)!</h1>
  <p class="text-muted">The time series plot shows a yearly ranking of teams in descending order of a chosen statistic. Use the highlight team filter to see a team’s trend over the 7-year period.</p>

  <style>
    .viz-wrapper {
      overflow-x: auto;
      width: 100%;
    }

    .viz-container {
      min-width: 1100px; /* Match Tableau's custom size */
      display: flex;
      justify-content: center;
    }

    tableau-viz {
      width: 1000px;
      height: 630px;
    }
  </style>

  <div class="viz-wrapper">
    <div class="viz-container">
      <script type="module" src="https://public.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js"></script>
      <tableau-viz id="tableauViz" class="time_series"
        src='https://public.tableau.com/views/VolleyballRound2/NewPrototypeDashboard2?:language=en-US&:sid=&:display_count=n&:origin=viz_share_link'
        device="default"
        toolbar="bottom" hide-tabs>
      </tableau-viz>
    </div>
  </div>

  <a href="/">Back to Home Page</a>
</body>
</html>
